<div class = "row">

   <div class="col-xs-3">
      <div class="panel panel-default">
         <div class="panel-body">
            <p>Profile Bit</p>
         </div>
      </div>
   </div>

   <div class="col-xs-6">
      <div class="panel panel-default">
         <div class="panel-body">
	   <p>Feeds</p>
	 </div>
      </div>
   </div>

   <div class="col-xs-3">
      <div class="panel panel-default">
         <div class="panel-body">
	   <p>Discussions</p>
	</div>
      </div>
   </div>

</div>

<!--Begining of 2nd row-->
<div class = "row">
   <div class="col-xs-3">
      <div class="panel panel-default">
         <div class="panel-body">
	   <p>Notice Board</p>
	</div>
      </div>
   </div>
</div>
