<div class = "row">
   <div class ="col-xs-12">
      <div class = "jumbotron">
	<%= @username %>
      </div>
   </div>
</div>

<!--Begining of 2nd row-->
<div class = "row">

   <div class="col-xs-3">
      <div class="panel panel-default">
         <div class="panel-body">
            <p>Profiles</p>
         </div>
      </div>
   </div>

   <div class="col-xs-6">
      <div class="panel panel-default">
         <div class="panel-body">
           <p>Inquiries</p>
         </div>
      </div>
   </div>

   <div class="col-xs-3">
      <div class="panel panel-default">
         <div class="panel-body">
           <p>Cell</p>
        </div>
      </div>
   </div>

</div>

<!--Begining of 3rd row-->
<div class = "row">
   <div class="col-xs-3 col-xs-offset-9">
      <div class="panel panel-default">
         <div class="panel-body">
           <p>Notice Board</p>
        </div>
      </div>
   </div>
</div>

